
body{
    font-family: sans-serif;
    background-color: white;
    margin: 0;
}
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4edf0f;
    padding: 20px;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    width: 50px;
    padding: 5px;
   margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
nav a{
    font-weight: 600;
}
nav a:hover{
    color: white;
}