body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
}
.container{
    width: 1200px;
    height: 200px;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    border: solid black;
}
.caja1{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja2{
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja3{
    width: 200px;
    height: 200px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 
}