body{
    font-family: sans-serif;
    background-color: white;
    margin: 0;
}
header{
    
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4edf0f;
    padding: 20px;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
nav a{
    font-weight: 600;
}
nav a:hover{
    color: white;
}
#container{
    display: flex;
    column-count: 4;
    column-gap: 30px;
    max-width:  1400px;
    margin: auto;
}
.Nuestros-cursos h2{
    align-content: center;
}
#container{
    display: flex;
    justify-content: space-between;
}
.carta{
    border: 1px solid #ccc;
    text-align: center;
    justify-content: center;
    background-color: #4edf0f;
    padding: 20px;
    border-radius: 15px;
}
button{
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #593bff;
    color: white;
    font-weight: 1000;
}
button:hover{
    transition: all 0.3s ease ;
    transform: scale(1.05,1.05);
    color: white;
}
