body{
    font-family: sans-serif;
    background-color: white;
    margin: 0;
}
header{
    
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4edf0f;
    padding: 20px;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
nav a{
    font-weight: 600;
}
nav a:hover{
    color: white;
}
.bienvenidos{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height:90vh;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
    ,url("dev1.jpg")
}
.bienvenidos h2{
    font-size: 60px;
}
button{
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #20c420;
    color: black;
    font-weight: 1000;
}
button:hover{
    transition: all 0.3s ease ;
    transform: scale(1.05,1.05);
    color: white;
}
