<h1>soy el Administrador</h1>
<h2>Hola {{persona}} , como estas?</h2><br>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-end"><a class="btn btn-danger" href="/admin/login/logout">Cerrar Sessión<i class="fas fa-sign-out-alt"></i></a></p>
    </div>
</div>