
body{
    font-family: sans-serif;
    background-color: black;
    margin: 0;
}
.holder{
    max-width: 960px;
    margin: 0 auto;
}
h2,p.intro{
    color: #ccc;
}
.carta{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
    background-color: #ccc;
}
.carta .info h3{
    font-weight: 600;
    color: #319406;
    font-style: italic;
    border-bottom: 3px solid #319406;
    padding-bottom: 10px;
}
.carta .info p{
    font-size: 15px;
}
.carta img{
    border-radius: 13px;
    display: block;
    max-width: 225px;
}
.carta:nth-child(even){
    flex-direction: row-reverse;
}
button{
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #319406;
    color: black;
    font-weight: 1000;
}
button:hover{
    transition: all 0.3s ease ;
    transform: scale(1.05,1.05);
    color: white;
    background-color: #4edf0f;
}