.bloque1{
    height: 150px;
    width: 150px;
    background-color: red;
}
.bloque2{
    height: 150px;
    width: 150px;
    background-color: green;
}
.bloque3{
    height: 150px;
    width: 150px;
    background-color: blue;
}
